{{#extends "base"}}
{{#block "title"}}User Sign Up{{/block}}

{{#block "content"}}
<h2 class="mt-3">User Sign Up Form</h2>
<form method="POST">
    {{{form}}}
<input type="submit" class="btn btn-primary mt-3" value="Sign Up">
<input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>

{{/block}}

{{/extends}}